<header id="header">
  <h1 id="app-title">
    <a href="{{ path('admin_head') }}">The Wander</a>
  </h1>
  <nav id="nav">
    <a href="{{ path('admin_celestial_bodies_list') }}">Celestial Bodies</a>
    <a href="{{ path('admin_users_list') }}./">Users</a>
    <a href="{{ path('admin_comments_list') }}">Comments</a>
    <a href="{{ path('admin_logout') }}">Logout</a>
  </nav>
</header>