<header class="header" id="header">
  <div class="row justify-content-between">
    <div class="header__logo col-3" id="logo">
      <a class="row" href="{{ path('admin_head') }}">
        <img class="logo" src="{{ asset('assets/images/interface/logo.svg') }}" alt="To the home page">
      </a>
    </div>
    <nav class="header__nav col-7 d-flex justify-content-between align-items-center" id="nav">
      <ul class="nav d-flex justify-content-between">
        <div class="row">
          <li class="nav-item">            
            <a class="nav-link {{ app.request.get('_route') starts with 'admin_celestial_bodies' ? 'active' }}" href="{{ path('admin_celestial_bodies_list') }}">Celestial Bodies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {{ app.request.get('_route') starts with 'admin_users' ? 'active' }}" href="{{ path('admin_users_list') }}">Users</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {{ app.request.get('_route') starts with 'admin_comments' ? 'active' }}" href="{{ path('admin_comments_list') }}">Comments</a>
          </li>
        </div>
        <div class="d-flex justify-content-end">
          <li class="nav-item mr-5">
            <a class="nav-link" href="{{ path('admin_logout') }}">Logout</a>
          </li>
        </div>
      </ul>
    </nav>
  </div>
</header>